h1 {
  font-size: 10vw;
  margin: 2%;
  text-align: center;
}

p {
  font-size: 3vw;
  margin: 2%;
  text-align: center;
}

h2, h3, h4 {
  font-size: 4vw;
  margin: 2%;
  text-align: center;
}

button {
  height: 140%;
  background-color: rgb(177, 217, 236);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 20%;
  width: 20vw;
  font-size: 3vw;
  }